.venv/
__pycache__/
*.pyc
.DS_Store
**/.DS_Store
clean_song_output/
downloads/
remix_output/
clone_output/
diar_output/
mdx_models/*.onnx
rvc_models/*.pt
rvc_models/*.pth
rvc_models/hubert_base/
xtts_models/*.pth
xtts_models/*.json
xtts_models/*.wav
library/models/uvr/*.onnx
library/models/rvc/**
library/models/xtts/**
library/models/rvc_voices/**
library/voices/**
!library/**/.gitkeep
!library/library.json
dist/
