soundfile
librosa
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
pedalboard
yt-dlp
tqdm
spaces
numpy<2
gradio==5.43.1
ffmpeg-python
scipy
scikit-learn
matplotlib
matplotlib-inline
seaborn
requests
urllib3
onnxruntime-gpu==1.22.0
# onnxruntime  # only CPU